<%= form_for(special) do |f| %>
  <div class="form-field">
    <%= f.label 'Special Description:' %>
    <div class="form-content">
      <%= f.select :month, Special.months.keys %>
    </div>
  </div>
  <div class="form-field">
    <%= f.label 'Special Title:' %><br>
    <div <div class="form-content">
      <%= f.text_field :title, size: 50 %>
    </div>
  </div>
  <div class="form-field">
    <%= f.label 'Special Description:' %>
    <div <div class="form-content">
      <%= f.text_area :description, :cols => 75, :rows => 2 %>
    </div>
  </div>
  <div class="form-field">
    <%= f.label 'Special Color:' %>
    <div class="form-content">
      <%= f.select :color, options_for_select([
          ['Light Blue',  'rgb(63, 169, 245)'], 
          ['Yellow', 'rgb(255, 242, 0)'],
          ['Orange', 'rgb(247, 147, 30)'],
          ['Brown', 'rgb(178, 115, 10)'],
          ['Green', 'rgb(75, 191, 30)']
      ]) %>
    </div>
  </div>
  <div class="form-field">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', specials_path, class: 'btn btn-primary' %>
  </div>
<% end %>