<%= form_for(testimonial, :html => {:multipart => true }) do |f| %>
  <div class="form-field">
    <%= f.label 'Client Name:' %><br>
    <div <div class="form-content">
      <%= f.text_field :title, size: 50 %>
    </div>
  </div>
  <div class="form-field">
    <%= f.label 'Client Testimonial:' %>
    <div <div class="form-content">
      <%= f.text_area :description, :cols => 75, :rows => 5 %>
    </div>
  </div>
  <div class="form-field">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', testimonials_path, class: 'btn btn-primary' %>
  </div>
<% end %>