<div class="admin-show">
  <h2>Testimonial # <%= @testimonial.id %> Information:</h2>
  <div class="content">
    <div>
      <strong>Client Name:</strong>
      <%= @testimonial.title %>
    </div>
    <div>
      <strong>Client Testimonial:</strong>
      <%= @testimonial.description %>
    </div>
    <div>
      <%= link_to 'Edit', edit_testimonial_path(@testimonial), class: 'btn btn-primary' %>
      <%= link_to 'Back', testimonials_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>