<div id="notice"><%= notice %></div>
<div style="width: 100%; background: #dddddd; padding: 1rem; min-height: 600px">
  <h2 style="border-bottom: 2px solid black; ">Testimonial # <%= @testimonial.id %> Information:</h2>
  <div style="flex: 2; padding-right: 2rem; ">
    <div style="padding: 2rem 0;">
      <strong>Client Name:</strong>
      <%= @testimonial.title.capitalize %>
    </div>
    <div style="padding-bottom: 1rem;">
      <strong>Client Testimonial:</strong>
      <%= @testimonial.description.capitalize %>
    </div>
    <div>
      <%= link_to 'Edit', edit_testimonial_path(@testimonial), class: 'btn btn-primary' %>
      <%= link_to 'Back', testimonials_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>