<%= form_for(image, :html => {:multipart => true }) do |f| %>
  <h3 style="border-bottom: 1px solid black; padding: 2rem 0 .5rem 0;">Gallery Options:</h3>
  <div style="padding-bottom: 1rem;"><br>
    <%= f.label 'Image Source:', style: 'font-weight: 700' %>
    <div style="padding-left: 2rem;">
      <%= f.file_field :image %>
    </div>
  </div>
  <div style="padding-bottom: 1rem;">
    <%= f.label 'Category for Gallery:', style: 'font-weight: 700' %>
    <div style="padding-left: 2rem;">
      <%= f.select :landscape_type, Image.landscape_types.keys %>
    </div>
    <p style="padding-left: 2rem;">NOTE: This selection will determine what group this photo is linked to when a user clicks on a specific set, from the options along the top
    of the gallery.</p>
  </div>
  <div style="padding-bottom: 1rem;">
    <%= f.label 'Gallery Caption:', style: 'font-weight: 700' %><br>
    <div style="padding-left: 2rem;">
      <%= f.text_field :title, size: 100 %>
    </div>
    <p style="padding-left: 2rem;">NOTE: This is the caption that will be displayed with this photo in the gallery.</p>
  </div>
  <h3 style="border-bottom: 1px solid black; padding: 2rem 0 .5rem 0;">Homepage Slider Options:</h3>
  <div style="padding-bottom: 1rem; display: flex;">
    <%= f.label 'Check to Add this image to the Homepage Slider:', style: 'font-weight: 700' %>
    <div style="padding-left: 1rem;">
      <%= f.check_box :slider, style: 'height: 25px; width: 25px;' %>
    </div>
  </div>
  <div style="padding-bottom: 1rem;">
    <%= f.label 'Homepage Slider Text:', style: 'font-weight: 700' %><br>
    <div style="padding-left: 2rem;">
      <%= f.text_field :hero_text, size: 100 %>
    </div>
    <p style="padding-left: 2rem;">NOTE: This is the caption that will be displayed on the homepage slider.</p>
  </div>
  <div style="padding-bottom: 1rem;">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', images_path, class: 'btn btn-primary' %>
  </div>
<% end %>