<div class="admin-index">
  <p id="notice"><%= notice %></p>
  <div class="header">
    <h2>Gallery Images:</h2>
    <div>
      <%= link_to 'Add Photo', new_image_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <ul>
      <li><strong>Filter Images by Category:</strong></li>
      <li id="all">All</li>
      <% Image.landscape_types.keys.each do |type| %>
        <li id=<%=type %>><%= type.capitalize %></li>
      <% end %>
  </ul>
    <div>
      <div class="table-headers">
        <div style="width: 12%;">Gallery Category:</div>
        <div style="width: 25%;">Gallery Caption:</div>
        <div style="width: 16%;">Image Thumb:</div>
        <div style="width: 47%;">Actions:</div>
      </div>
      <% @images.each do |image| %>
      <div class="<%=image.landscape_type %> table-rows" >
        <div style="width: 12%;"><%= image.landscape_type.capitalize %></div>
        <% if image.title? %>
          <div style="width: 25%;"><%= image.title %></div>
        <% else %>
          <div style="width: 25%;">No text to display.  Add text in the 'Edit' section for the selected photo.</div>
        <% end %>
        <div style="width: 16%;"><%= image_tag image.image_url(:admin)  %></div>
        <div style="width: 8%;"><%= link_to 'Show', image %></div>
        <div style="width: 8%;"><%= link_to 'Edit', edit_image_path(image) %></div>
        <div style="width: 8%;"><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }  %></div>
        <div style="width: 23%;">            
          <%= form_for image do |t| %>
           <%= t.hidden_field :slider, :value=>true%>
           <%= t.submit "Add to Homepage Slider" %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="header second-header">
      <h2>Homepage Slider Images:</h2>  
    </div>
    <div class="table-headers">
      <div style="width: 37%;">Slider Text</div>
      <div style="width: 16%;">Slider Image</div>
      <div style="width: 47%;">Actions</div>
    </div>  
    <div>
      <% @images.each do |image|  %>
        <% if image.slider %>
        <div class="table-rows">
          <% if image.hero_text? %>
            <div style="width: 37%;"><%= image.hero_text%></div>
          <% else %>
            <div style="width: 37%;">No text to display.  Add text in the 'Edit' section for the selected photo.</div>
          <% end %>
          <div style="width: 16%;"><%= image_tag image.image_url(:admin) %></div>
          <div style="width: 47%;">
            <%= form_for image do |t| %>
              <%= t.hidden_field :slider, :value=>false %>
              <%= t.submit "Remove from Homepage Slider" %>
            <% end %>    
          </div>
        </div>
        <% end %>
      <% end %>          
    </div>
</div>